<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Ng-slider : AngularJS slider control directive" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/prism.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">  
	<link rel="stylesheet" type="text/css" href="src/tinymce-typeahead-style.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    
	<script type="text/javascript" src="bower_components/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="bower_components/typeahead.js/dist/bloodhound.min.js"></script>
	<script type="text/javascript" src="bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
	<script type="text/javascript" src="bower_components/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>  
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/angular-typeahead/angular-typeahead.js"></script>
	<script type="text/javascript" src="src/tinymce-typeahead.js"></script>
	<script type="text/javascript" src="src/tinymce-typeahead-service.js"></script>
	<script type="text/javascript" src="src/tinymce-typeahead-factory.js"></script>

    <script type="text/javascript" src="javascripts/prism.js"></script>


    <title>Ng-tinymce-typeahead</title>
  </head>

  <body>

   <div class="wrapper"> 

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header>

          <h1 id="project_title">Ng-tinymce-typeahead</h1>
          <p>Angular directive tinymce autocomplete menu for links or image quick insertion control.</p>
          <ul>
           <li>
              <a href="https://github.com/darul75/ng-tinymce-typeahead/zipball/master">Download <strong>Zip File</strong></a>
           </li>
           <li>   
              <a href="https://github.com/darul75/ng-tinymce-typeahead/tarball/master">Download <strong>Tar ball</strong></a>
           </li>
           <li>   
              <a id="forkme_banner" href="https://github.com/darul75/ng-tinymce-typeahead">View on <strong>GitHub</strong></a>
           </li>
          </ul> 
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>
          <a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Demo
        </h3>

        Here we are, use keyboard for menu choices.

<div ng-app="myApp" ng-controller="ctrl">
  <h2>Simple editor</h2>
  <div>
    <textarea id="tinymce" ui-tinymce='{plugins: ["link image"], height : 500}' ng-model="tinymce" hotkey="{esc: close, 'ctrl+left': mute}" class="mousetrap"></textarea>
    <div ui-tinymce-linker-menu menu="menu"></div>									    

	<p><b>Content preview</b></p>
	<div><p ng-bind-html='html'></p></div>
  </div>  
  <h3>Code</h3>  
  <div class="language-markup">
    <pre>
  <code>&lt;div>
    &lt;textarea id="tinymce" ui-tinymce='{plugins: ["link image"], height : 500}' ng-model="tinymce" hotkey="{esc: close, 'ctrl+left': mute}" class="mousetrap">&lt;textarea>
    &lt;div ui-tinymce-linker-menu menu="menu">&lt;/div>                          
  &lt;/div>
  </code>
  <code class="highlight">&lt;script>
    function ctrl($scope) {
      // what will look a menu
      // look into my service to see how feel typeahead content
      $scope.menu = [
          { id: '1', label:'Music', icon:'glyphicon-music', children: [
              {id:'1-1', label:'Links', icon: 'glyphicon-link', children: [
                { id: '1-1-1', label:'Rap', type: 'link' },
                { id: '1-1-2', label:'Rock', type: 'link' }
              ]},
              {id:'1-2', label:'Images', icon: 'glyphicon-picture', children: [
                { id: '1-2-1', label:'Rap', type: 'image' },
                { id: '1-2-2', label:'Rock', type: 'image' }
              ]}
      ]}];
    }   
  &lt;/script>
  </code>    
<code>&lt;/body>
&lt;/html></code></pre>
  </div>
 </pre>
  </br>
  </br>
</div>

<h2>Donate</h2>
<div>
  <script data-gittip-username="darul75"
    data-gittip-widget="button"
    src="//gttp.co/v1.js"></script>
</div>

  <script type="text/javascript"> 

    var app = angular.module('myApp', ['ui.tinymce', 'ui.tinymce.typehead']);        

    function ctrl($scope, $filter, $sce) {      
     $scope.tinymce = "<p>This is not hello world press CTRL+space keys first.</p><p>Then select a word and do it again.</p><p>Enjoy !</p><p>&nbsp;<img src=\"http://www.sorties-alsace.fr/wp-content/uploads/2013/04/snoop-dogg-concert-colmar.jpg\" alt='' width='392' height='314'></p>";
        $scope.$watch('tinymce', function(old, newOne) {
          $scope.html = $sce.trustAsHtml(newOne);  
        })

        $scope.menu = [
          { id: '1', label:'Music', icon:'glyphicon-music', children: [
              {id:'1-1', label:'Links', icon: 'glyphicon-link', children: [
                { id: '1-1-1', label:'Rap', type: 'link' },
                { id: '1-1-2', label:'Rock', type: 'link' }
              ]},
              {id:'1-2', label:'Images', icon: 'glyphicon-picture', children: [
                { id: '1-2-1', label:'Rap', type: 'image' },
                { id: '1-2-2', label:'Rock', type: 'image' }
              ]}
          ]},
          { id: '1', label:'Sport', icon:'glyphicon-tower', children: [
              {id:'1-1', label:'Links', icon: 'glyphicon-link', children: [
                { id: '1-1-1', label:'Rap', type: 'link' },
                { id: '1-1-2', label:'Rock', type: 'link' }
              ]},
              {id:'1-2', label:'Images', icon: 'glyphicon-picture', children: [
                { id: '1-2-1', label:'Rap', type: 'image' },
                { id: '1-2-2', label:'Rock', type: 'image' }
              ]}
          ]}          
        ];
    }

  </script>

<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45895157-13', 'darul75.github.io');
  ga('send', 'pageview');

</script>

   </div>
  </div> 

</div>
   <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer>
        <p class="copyright">Ng-tinymce-typeahead maintained by <a href="https://github.com/darul75">darul75</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a> — Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
      </footer>
    </div>       
  </body>
</html>
